<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.StockMapper">
	
	<select id="getJson" resultType="int">
 	select count(*) from stock_vi where stk_id = #{stk_id}
<!-- 	select count(*) from stock_vi where stk_id = #{stk_id} and stk_rel = #{stk_rel} -->
	</select>
	
	<!-- json 데이터업데이트 -->
	<update id="jsonUpdate">
	update stock_vi set stk_rel = #{stk_rel} where stk_id = #{stk_id}
	</update>
	
	<!-- json 데이터 넣기 	-->
	<insert id="register">
	INSERT INTO stock_vi (stk_id, stk_cd, stk_nm, stk_pri, stk_inc, stk_act, stk_rel)
	VALUES (#{Istk_id}, #{stk_cd}, #{stk_nm}, #{stk_pri}, #{stk_inc},#{stk_act}, #{stk_rel})
	</insert>


	<select id="getList" resultType="com.stock.domain.StockVO">
	select * from stock_vi order by stk_id desc
	</select>


</mapper>